















#item {
  width: 1px;
  background: red;
}

html{

  scroll-behavior: smooth;
  

}

body {
  overflow-x: hidden;
  
 
  font-family: "Cairo", sans-serif;
  line-height: 1.6em;
  color: #333;
  background-color: #ffff;
  height: 100%vh;
  /* width: 100%vh; */
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}

/* a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
} */
a,
a:hover {
  text-decoration: none !important;
}

.colors {
  border-radius: 20px 20px 0 0;
  background-color: #fff;
}

/* nav */


#particle-canvas > canvas {
  
  width: 100%;
  z-index: 2;
}

.hero {
  /* padding-top: 40px; */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#particle-canvas {
  
  
  width: 100%;
  height: 100%;
}

/* services*/
body {
  background: #192029 !important;
}

h1 {
  text-align: center;
  margin: 50px auto 120px;
  color: #fff;
  text-transform: uppercase;
}

.saikotop{
  margin-top: 150px;
 
}




.main {
  
  
  
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}


.service p {
  color: #16151a;
  font-size: 18px;
  line-height: 1.4;
}

.service {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}

.saikomb {
  margin-top: 150px;
}
/* Mengatur posisi logo service */
.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Membuat border title */
.service h4 {
  color: #16151a;
  height: 35px;
  width: 80%;
  margin: 30px auto;
  background: #fff;
  position: relative;
}

.service h4::after,
.service h4::before {
  content: "";
  width: 40px;
  height: 30px;
  position: absolute;
  z-index: -1;
}

.service h4::after {
  background: linear-gradient(to right, #fff, #007bff);
  right: -5px;
  top: -5px;
}

.service h4::before {
  background: linear-gradient(to right, #007bff, #fff);
  left: -5px;
  bottom: -5px;
}

/* membuat shadow untuk service */
.main::after {
  content: "";
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}
.main::before {
  content: "";
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover::after {
  transform: translateY(-25px);
}

.service-logo img {
  transition: transform 1s;
}

.main:hover .service-logo img {
  transform: rotate(360deg);
}

/* logo center */
/* #particle-canvas::after {
  position: absolute;
 
  top: 65%;


  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  
  font-weight:normal ;
  font-style: italic;

 
  font-size: 50px;

  z-index: 300;
  font-family: "Cairo", sans-serif;
  content: "Click Design";
} */

.saikologo img {
  position: absolute;
  /* display: inline-block; */
 

  /* left: 50%;
  right: 50%; */
 
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;


  top: 40%;
 

  z-index: 2;

}

/* buttn */

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
          This is the outer svg wrapper that the SVG itself will 
          fill. Multiple svg-wrapper classes can be put side by side.
      */

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
/*
        This is where we define the fill, color, thickness,
        and stroke pattern of the SVG when there is no hover.
        The dasharray and offset together define the line position
        under the words. Here's also where the transition speed is set.
      */

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
          Pushing the text up into the SVG. Without this the
          text would be below the div's.
      */

#text {
  margin-top: -30px;
  text-align: center;
}

#text a {
  padding-top: 10px;
  color: black;
  text-decoration: none;
  font-weight: 100;
  
  font-size: 18px;
}
/* 
          Changing the shape on hover. I change the color of the stroke,
      make it thinner, then set it to again wrap around the entire parent element.
      */

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #007bff;
}

/* === HEADING STYLE #2 === */

.section-title h1 {
  padding-bottom: 10px;
  padding-top: 10px;

  margin-top: 0px;
  margin-bottom: 0;
}

.section-title h1::before {
  content: "";

  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: -3px;
  left: calc(50% - 60px);
}
.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: -3px;
  left: calc(50% - 20px);
}

/* about us */

.about-area {
  background: linear-gradient(112deg, #1c1e24 50%, #181b21 50%);
  margin: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.about-area img {
  display: inline-block;
  /* padding-top: 20px; */
  padding-left: 100px;
  max-height: 300px;
}

.about-area h1 {
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .about-area .about-left {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.about-right {
  padding-left: 40px;
  font-size: 20px;
  line-height: 1.8;
  padding-bottom: 10px;
}

@media (max-width: 1199px) {
  .about-right {
    padding-left: 15px;
  }
}

.about-right .section-title {
  margin-bottom: 20px;
}

.about-right .primary-btn {
  margin-top: 35px;
}

.about-right p:last-child {
  margin-bottom: 0px;
}

.about-content {
  margin-top: 135px;
  margin-bottom: 112px;
  color: white;
  position: relative;
}

@media (max-width: 767px) {
  .about-content {
    margin-top: 140px;
  }
}
@media (max-width: 991px) {
  .about-area img {
    display: block;
    /* width: 100%; */
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
   
  }
}


/* play  */

.containersaiko {
  /* background-image: url(/img/mark.jpg) ; */
  background-position: center;
  /* background-size: 287px 400px; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  width: 100%;
}
.button {
  display: inline-block;
  position: relative;
}
.button.is-play {
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.button.is-play .button-outer-circle {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.button.is-play .button-icon .triangle {
  animation: fadeIn 7s ease;
}
.button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s;
  animation-timing-function: ease;
}
.has-scale-animation {
  animation: smallScale 3s infinite;
}
.has-delay-short {
  animation-delay: 0.5s;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}



/* filter */
#filter {
  direction: rtl;
}

/* contact */
iframe {
  align-self: center;
}
.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #192029 0%, #17171a 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #192029 100%);
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 2rem !important;
  }
}
.contact-info__list span.position-absolute {
  right: 0;
  left: 0;
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}

.contact-form__wrapper {
  background-color: #fff;
}
.contact__wrapper {
  
  border-radius: 0 0 0.625rem 0.625rem;
}

@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding:3rem  !important;
  }
}
.shadow-lg,
.shadow-lg--on-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.contact__wrapper li {
  font-size: 16px;
}

.contact__wrapper{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.saikoright{
  text-align: right;
  direction: rtl;
  
}

/* galllllllllllllllery

.container-filter {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.container-filter li {
  list-style: none;
  display: inline-block;
}

.container-filter a {
  
  display: block;
  font-size: 14px;
  margin: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  line-height: 30px;
  -webkit-transition: all 0.6s;
  border-bottom: 1px solid transparent;
  color: #ada9a9 !important;
}

.container-filter a:hover {
  color: #007bff !important;
}

.container-filter a.active {
  color: #007bff !important;
  border-bottom: 1px solid #222222;
}

.item-box {
  position: relative;
  overflow: hidden;
  display: block;
}

.item-box a {
  display: inline-block;
}

.item-box .item-mask {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  position: absolute;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
}

.item-box .item-mask .item-caption {
  position: absolute;
  width: 100%;
  bottom: 10px;
  opacity: 0;
}

.item-box:hover .item-mask {
  opacity: 1;
  visibility: visible;
  cursor: pointer !important;
}

.item-box:hover .item-caption {
  opacity: 1;
}

.item-box:hover .item-container {
  width: 100%;
}

.services-box {
  padding: 45px 25px 45px 25px;
} */

/*why us */

.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  max-height: 350px;
  display: inline-block;
  width: 20%;
  min-width: 200px;
  /* max-width: 260px; */
  padding: 80px 20px 20px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #181b21;
  /* border: 1px solid #252727; */
  text-align: center;
  box-shadow: #fff 20px;

  box-shadow: rgba(53, 132, 197, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (max-width: 900px) {
  .tilesWrap li {
    width: 80%;
  }
}

.tilesWrap li img {
  font-size: 114px;
  margin: 0;
  position: absolute;
  /* opacity: 0.2; */
  top: 15px;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  text-align: center;
  font-size: 20px;
  color: #b7b7b7;
  padding-top: 15px;
  margin-bottom: 10px;
}
.tilesWrap li p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  color: #b7b7b7;
  margin-top: 5px;
}

.tilesWrap li:hover img {
  top: 5px;
  /* opacity: 0.6; */
}

.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(219, 213, 213, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #0abfbc, #0abfbc);
  background: linear-gradient(to right, #0abfbc, #0abfbc);
}
.tilesWrap li:nth-child(2):before {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #0abfbc, #0abfbc);
  background: linear-gradient(to right, #0abfbc, #0abfbc);
}
.tilesWrap li:nth-child(3):before {
  background: #c21500;
  background: -webkit-linear-gradient(to right, #0abfbc, #0abfbc);
  background: linear-gradient(to right, #0abfbc, #0abfbc);
}
.tilesWrap li:nth-child(4):before {
  background: #fc354c;
  background: -webkit-linear-gradient(to right, #0abfbc, #0abfbc);
  background: linear-gradient(to right, #0abfbc, #0abfbc);
}

/* test */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(233, 150, 150);
  font-family: 'Open Sans'
} */

#demo {
  background: linear-gradient(112deg, #1c1e24 50%, #181b21 50%);
  max-width: 900px;
  margin: auto;
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(255, 255, 255, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
 
  line-height: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(255, 255, 255, 0.856);
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    line-height: 1.5rem;
  }
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}

#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

#demo i {
  background-color: #0cbdbc;
  padding: 1.4rem;
}

@media (max-width: 767px) {
  #demo i {
    padding: 0.4rem;
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}

/* footrt */


@media screen  {
  
}

.saikopad{
  padding-top: 60px;
}
.footer-dark {
 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding:20px 0;
  color:#ffffff;
  background-color:#16151a;
}



.footer-dark h3 {
  text-align: center;
  /* margin-top:20px; */
  margin-bottom:12px;
  
  font-size: 19px;
  
}

.footer-dark ul {
  text-align: center;
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:16px;
  margin: bottom 1px;;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  text-align: center;
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}
@media (min-width:767px) {
  .saikoar {
    direction: rtl;

  }
  
}

/* .footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
} */
/* 
.footer-dark .item.social > a:hover {
  opacity:0.9;
} */

.footer-dark .copyright {
  text-align:center;
  
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


/* gallery */



.gallery{
  

   
    
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    /* height:40px;
    width: 140px; */
   
    color:#fff;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    margin:10px;
    /* box-shadow: 0 3px 5px rgba(0,0,0,.3); */
    text-align: center;
}

.gallery .controls .buttons.active{
    /* background:coral; */
    font-size: 22;
    color:#009ffd;
}
.gallery .controls .buttons:hover{
    /* background:coral; */
    
    color:#009ffd;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px, rgba(0, 0, 0, 0.32) 0px 8px 16px 0px; */
}

.gallery .image-container .image img{
  transition:all 3s cubic-bezier(.34,1.12,.68,1.31);
    height: 100%;
    width:100%;
    object-fit: cover;
}

/* .gallery .image-container .image:hover img{
    transform: scale(1.4);
} */
/* social media */

.buttons {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.effect a {
  text-decoration: none !important;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}
.effect a i {
  position: relative;
  z-index: 3;
}
.effect a.fb {
  background-color: #3b5998;
}
.effect a.wa {
  background-color: #0b7128;
}



.effect a.insta {
  background-color: #e4405f;
}
.effect a.in {
  background-color: #007bb6;
}




.effect.csaiko a {
  transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.effect.csaiko a:hover {
  border-radius: 50%;
}




/* body {
  padding: 50px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
} */

/* section {
  height: 100vh;
}
section#about {
  text-align: center;
}
section h1 {
  text-align: center;
}

.container {
  padding: 0px 15px 0px 15px;
} */

@media (min-width: 0) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

a {
  text-decoration: none;
  color: rgb(255, 251, 251);
}
a:hover,
a :focus {
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color 0.35s ease;
}
.menu-left a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background 0.35s ease;
}
.menu-left a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  transition: width 0.35s ease;
}
.menu-left a:hover:before {
  width: 100%;
  background: rgb(255, 255, 255);
  transition: width 0.35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  z-index: 99999999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 0;
  background: #fbfdff00;
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.logo img{
  max-height: 30px;
}
header nav .logo {
  float: left;
  max-height: 30px;

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  /* margin-right: 1rem;
  font-size: 1.25rem; */
  /* line-height: inherit;
  font-weight: 500; */
  /* color: black; */
}
header nav .logo:after {
  content: "";
  display: table;
  clear: both;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header nav ul li {
  float: none;
  margin-left: 0;
}
@media (min-width: 768px) {

  
  
  header nav ul li {
   
    
    
    text-align: center;
    float: left;
    margin-left: 1rem;
  }
}
header nav a {
  
  display: block;
}
@media (min-width: 576px) {
  header nav ul li a {
    display: block;
    padding: 0.425rem 0rem;
  }
}

@media (max-width: 759px) {

  .menu-left{
    flex-direction: column-reverse;
  }



  ul {
    border-radius: 3%;
    clear: both;
  }
  nav ul li {
    
    background-color: #181b2178;
    
    text-align: center;
    padding: 0.5em 0;
  }
}
.hide-nav {
  transform: translateY(-120% ) !important;
  -webkit-transform : translateY(-120%) !important;
}

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}
@media (min-width: 768px) {
  ul.menu-left {
    display: block !important;
    float: right;
    max-height: none;
  }
}
ul.menu-left:before {
  content: "";
  display: table;
  clear: both;
}
ul.menu-left.collapsesaiko {
  max-height: 15em !important;
}

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
}
.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  transition: all 0.25s;
}

/* JsFiddle Example only/don't use */
/* .logo-carousel {
  margin-top: 32px;
} */





/* social media*/

.absolute-center, .menu, .menu .btn .fa, .menu .btn.trigger .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.menu {
  font-size: 14px;
  width: 5em;
  height: 5em;
}
.menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
  z-index: -10;
  cursor: pointer;
  transition: opacity 1s, z-index 0.3s, transform 1s;
  transform: translateX(0);
}
.menu .btn .fa {
  font-size: 3em;
  transition: color 0.3s;
}
.menu .btn:hover .fa {
  color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.3s;
}
.menu .btn.trigger:hover {
  transform: scale(1.2);
}
.menu .btn.trigger:hover .line {
  background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger:hover .line:before, .menu .btn.trigger:hover .line:after {
  background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger .line {
  width: 60%;
  height: 6px;
  background: #000;
  border-radius: 6px;
  transition: background-color 0.3s, height 0.3s, top 0.3s;
}
.menu .btn.trigger .line:before, .menu .btn.trigger .line:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: #000;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
}
.menu .btn.trigger .line:before {
  top: -12px;
  transform-origin: 15% 100%;
}
.menu .btn.trigger .line:after {
  top: 12px;
  transform-origin: 25% 30%;
}
.menu .rotater {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}
.menu.active .btn-icon {
  opacity: 1;
  z-index: 50;
}
.menu.active .trigger .line {
  height: 0px;
  top: 45%;
}
.menu.active .trigger .line:before {
  transform: rotate(45deg);
  width: 110%;
}
.menu.active .trigger .line:after {
  transform: rotate(-45deg);
  width: 110%;
}

.rotater:nth-child(1) {
  transform: rotate(-22.5deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
  transform: translateY(-10em) rotate(22.5deg);
}

.rotater:nth-child(2) {
  transform: rotate(22.5deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
  transform: translateY(-10em) rotate(-22.5deg);
}

.rotater:nth-child(3) {
  transform: rotate(67.5deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
  transform: translateY(-10em) rotate(-67.5deg);
}

.rotater:nth-child(4) {
  transform: rotate(112.5deg);
}

.menu.active .rotater:nth-child(4) .btn-icon {
  transform: translateY(-10em) rotate(-112.5deg);
}

.rotater:nth-child(5) {
  transform: rotate(157.5deg);
}

.menu.active .rotater:nth-child(5) .btn-icon {
  transform: translateY(-10em) rotate(-157.5deg);
}

.rotater:nth-child(6) {
  transform: rotate(202.5deg);
}

.menu.active .rotater:nth-child(6) .btn-icon {
  transform: translateY(-10em) rotate(-202.5deg);
}

.rotater:nth-child(7) {
  transform: rotate(247.5deg);
}

.menu.active .rotater:nth-child(7) .btn-icon {
  transform: translateY(-10em) rotate(-247.5deg);
}

.rotater:nth-child(8) {
  transform: rotate(292.5deg);
}

.menu.active .rotater:nth-child(8) .btn-icon {
  transform: translateY(-10em) rotate(-292.5deg);
}

/* float */

.menume {
  font-family: "Montserrat", sans-serif;
  z-index: 999;
  position: fixed;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menume .share i.fa {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  border-radius: 2px;
}

.menume .share:hover.top .submenume li:nth-child(1) {
  opacity: 1;
  top: -51px;
  transition-delay: 0.08s;
  transform: rotateY(0deg);
  border-bottom: 1px dashed #d9d9d9;
}
.menume .share:hover.top .submenume li:nth-child(2) {
  opacity: 1;
  top: -102px;
  transition-delay: 0.16s;
  transform: rotateY(0deg);
  border-bottom: 1px dashed #d9d9d9;
}
.menume .share:hover.top .submenume li:nth-child(3) {
  opacity: 1;
  top: -153px;
  transition-delay: 0.24s;
  transform: rotateY(0deg);
  border-bottom: 1px dashed #d9d9d9;
}
.menume .share:hover.top .submenume li:nth-child(4) {
  opacity: 1;
  top: -204px;
  transition-delay: 0.32s;
  transform: rotateY(0deg);
  border-bottom: 1px dashed #d9d9d9;
}
.menume .share:hover.top .submenume li:nth-child(5) {
  opacity: 1;
  top: -255px;
  transition-delay: 0.4s;
  transform: rotateY(0deg);
  border-bottom: 1px dashed #d9d9d9;
}
.menume .submenume {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menume .submenume li {
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.menume .submenume li a {
  color: #212121;
}
.menume .submenume li a:hover i.fa {
  color: #fff;
}
.menume .submenume li a:hover.facebook i.fa {
  background-color: #3b5999;
}
.menume .submenume li a:hover.whatsapp i.fa {
  background-color: #0b7128;
}

.menume .submenume li a:hover.behance i.fa {
  background-color: #0E4BF4;
}
.menume .submenume li a:hover.instagram i.fa {
  background-color: #e4405f;
}
.menume .submenume li:nth-child(1) {
  transform: rotateX(45deg);
}
.menume .submenume li:nth-child(2) {
  transform: rotateX(90deg);
}
.menume .submenume li:nth-child(3) {
  transform: rotateX(135deg);
}
.menume .submenume li:nth-child(4) {
  transform: rotateX(180deg);
}
.menume.topLeft {
  top: 10px;
  left: 10px;
}
.menume.topRight {
  top: 10px;
  right: 10px;
}
.menume.bottomLeft {
  bottom: 10px;
  left: 10px;
}
.menume.bottomRight {
  bottom: 10px;
  right: 10px;
}


